
@{
    ViewBag.Title = "Registered";
}

<h2>Registered</h2>

<div class="jumbotron">
    <h1>
        Thank you for registering @TempData["UserName"]!
    </h1>
</div>

<div>
    <h2>
        Check out some of these cool links!
    </h2>

    <p>
        <a class="btn btn-default" href="http://github.com/hordynski">Github &raquo;</a> <br /> <br />

        <a class="btn btn-default" href="https://www.linkedin.com/in/hordynski/">LinkedIn &raquo;</a> <br /> <br />

        <a class="btn btn-default" href="https://open.spotify.com/playlist/2XD8S6dDhVj63oMXpkwFhI">Spotify &raquo;</a> <br /> <br />
    </p>
</div>